@layer components {
  .heading-primary {
    @apply text-2xl md:text-[32px] font-bold tracking-tight leading-tight;
  }

  .subheading {
    @apply text-lg md:text-[14px] leading-relaxed;
  }
}

@layer components {
  .feature-card {
    @apply bg-white/5 backdrop-blur rounded-xl p-6
           flex flex-col items-center text-center gap-4
           hover:bg-white/10 transition;
  }

  .feature-card-horizontal {
    @apply flex-row text-left items-center gap-6;
  }

  .feature-title {
    @apply text-white font-semibold;
  }

  .feature-text {
    @apply text-sm text-text-primary-100;
  }
}

